@font-face {
    font-family: "CustomFont";
    src: url("alagard.ttf");
}

.custom-font {
    -fx-font-family: "CustomFont";
    -fx-font-size: 28px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
