.root {
    -fx-font-family: 'Britannic Bold';
    -fx-background-color: linear-gradient(to bottom, #1a1a1a, #141414, #0d0d0d);
    -fx-text-fill: #f2f2f2;
}

.menu-button {
    -fx-padding: 15 30;
    -fx-font-size: 1.5em;
    -fx-text-fill: #f2f2f2;
    -fx-background-color: linear-gradient(to bottom right, #262626, #121212);
    -fx-border-color: #444;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0.5, 4, 4),
    innershadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 2, 2);
    -fx-alignment: center;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #121212, #262626);
    -fx-text-fill: #d4af37;
    -fx-border-color: #d4af37;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 8, 0.7, 6, 6),
    innershadow(gaussian, rgba(0, 0, 0, 0.6), 6, 0.6, 2, 2);
    -fx-cursor: hand;
}

.menu-button:pressed {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #9a7b25;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0.8, 4, 4);
}

.menu-button2 {

    -fx-font-size: 1.2em;
    -fx-text-fill: #f2f2f2;
    -fx-background-color: linear-gradient(to bottom right, #262626, #121212);
    -fx-border-color: #444;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0.5, 4, 4),
    innershadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 2, 2);
    -fx-alignment: center;
    -fx-font-family: "Britannic Bold";
}

.menu-button2:hover {
    -fx-background-color: linear-gradient(to bottom right, #121212, #262626);
    -fx-text-fill: #d4af37;
    -fx-border-color: #d4af37;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 8, 0.7, 6, 6),
    innershadow(gaussian, rgba(0, 0, 0, 0.6), 6, 0.6, 2, 2);
    -fx-cursor: hand;
}

.menu-button2:pressed {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #9a7b25;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0.8, 4, 4);
}

.slider {
    -fx-font-family: 'Britannic Bold';
    -fx-background-color: linear-gradient(to bottom, #1a1a1a, #141414, #0d0d0d);
    -fx-text-fill: #f2f2f2;
}

.slider .track {
    -fx-background-color: linear-gradient(to bottom, #262626, #121212);
}

.slider .thumb {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 50%;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
}

.slider:hover .thumb {
    -fx-background-color: #d4af37;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 8, 0.7, 6, 6);
}

.slider:pressed .thumb {
    -fx-background-color: #9a7b25;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0.8, 4, 4);
}


.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-color: #444;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #d4af37;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.zeiten-box {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.zeit-label {
    -fx-font-size: 1.2em;
    -fx-text-fill: #f2f2f2;
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #0f0f0f);
    -fx-padding: 10 15;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #444;
    -fx-border-width: 1;
}

.zeit-label.top1 {
    -fx-text-fill: #d4af37;
    -fx-border-color: #d4af37;
}

.zeit-label.top2 {
    -fx-text-fill: silver;
    -fx-border-color: silver;
}

.zeit-label.top3 {
    -fx-text-fill: #cd7f32;
    -fx-border-color: #cd7f32;
}

.combo-box {
    -fx-font-size: 1.4em;
    -fx-font-family: 'Britannic Bold';
    -fx-background-color: linear-gradient(to bottom right, #262626, #121212);
    -fx-text-fill: #f2f2f2;
    -fx-border-color: #444;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0.5, 4, 4),
    innershadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 2, 2);
}

.combo-box:hover {
    -fx-background-color: linear-gradient(to bottom right, #121212, #262626);
    -fx-border-color: #d4af37;
    -fx-text-fill: #f2f2f2;
    -fx-cursor: hand;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #f2f2f2;
    -fx-padding: 5 10;
}

.combo-box .list-cell:filled:selected {
    -fx-text-fill: #d4af37;
}

.combo-box .list-cell:hover {
    -fx-background-color: rgba(255, 215, 0, 0.05);
    -fx-text-fill: #d4af37;
}

.combo-box-popup .list-view {
    -fx-max-height: 160;
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #0f0f0f);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #444;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 8, 0.7, 4, 4);
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #f2f2f2;
}

.combo-box:hover .arrow {
    -fx-background-color: #d4af37;
}


.pausePane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.rounded-window {
    -fx-background-color: rgba(30, 30, 30, 0.95);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #555;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, black, 15, 0.2, 0, 5);
}





